 
.android/
.bash_logout
.bashrc
.charles
.gitconfig
.gradle-kotlin-dsl
.histfile
.java
linux-configs
.m2/
.mysql/
.pki
.thumbnails
.zcompdump
.zdirs
.bash_history
.bash_profile
.cache
.charles.config
Downloads
.gradle
IdeaProjects
.lesshst
.local
.mozilla
.npm
.sonarlint
.vscode-insiders
.zcompdump-tma-5.8
